@import url(https://db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=SuisseIntl-Regular);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(109, 109, 109);
}
.header-area{
    background-color: white;
}
.container{
    max-width: 1250px;
    margin: auto;
    position: relative;
    padding: 0 15px;
}
/* mega-menu-area start */
.mega-menu-area{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    padding: 20px 5px;
}
/* mega-menu-area end */
/* logo area start */
.logo-area{
    display: flex;
    align-items: center;
}
.logo-area img{
    width: 100%;
}
/* logo area end */

/* mega-menu-area-links-area start */

.mega-menu-links-area{
    display: flex;
    justify-content: end;
    gap: 40px;
    align-items: center;
}
.mega-menu-links-area h3,a{
    font-size: 16px;
    font-family: "SuisseIntl-Regular";
    color: black;
    text-decoration: none;
    font-weight: 100;
}
.mega-menu-links-area > .mega-menu-link > h3::after {
    content: "";
    display: inline-block;
    background-image: url("../imgs/arrow.svg");
    background-size: cover;
    width: 15px;
    height: 9px;
    margin-left: 5px;
    transition: transform 0.3s;
}

.mega-menu-link:hover > h3::after {
    transform: rotate(180deg);
}

/* hide mega-menu by default */
.mega-menu-link .mega-menu {
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0;
    display: block;
    opacity: 0;
    pointer-events: none;
    grid-template-columns: repeat(4, 1fr);
    z-index: 100; 
    transform: translateY(0px);
    transition: opacity 0.2s ease-in;
}
/* show mega-menu on hover with fade-in animation */
.mega-menu-link:hover .mega-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: opacity 0.4s ease-in;
}
.mega-menu .mega-menu-row{
    background-color: #272423;
    margin-top: 35px;
    padding: 55px 45px;
    display: flex;
    justify-content: start;
    gap: 50px; 
    border-radius: 0px 0px 20px 20px;
}
.mega-menu .mega-menu-row .mega-menu-column:nth-child(1){
    max-width: 25%;
    margin-right: 30px;
}
.mega-menu .mega-menu-row .mega-menu-column{
    font-size: 16px;
    color: white;
}
.mega-menu .mega-menu-row .mega-menu-column h4{
    font-family: "SuisseIntl-Regular";
    color: #f8aca5;
    
}
.mega-menu .mega-menu-row .mega-menu-column p{
    font-size: 16px;
    font-family: "SuisseIntl-Regular";
    
}
.mega-menu .mega-menu-row .mega-menu-column ul li{
    list-style: none;
    margin-top: 10px;
     
}
.mega-menu .mega-menu-row .mega-menu-column ul li a{
    list-style: none;
    margin-top: 10px;
    color: white;
     
}
.mega-menu .mega-menu-row .mega-menu-column ul li .link-icon::after {
    content: "";
    display: inline-block;
    background-image: url("../imgs/link-icon.svg");
    background-size: cover;
    width: 15px;
    height: 14px;
    margin-left: 5px;
    transition: transform 0.3s;
}

.mega-menu-link:hover > h3::after {
    transform: rotate(180deg);
}
/* mega-menu-area-links-area end */
/* buttons-area start */
.buttons-area{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.buttons-area button{
    padding: 10px 15px;
    font-size: 16px;
    font-family: "SuisseIntl-Regular";
    cursor: pointer;
    border-radius: 10px;
}
.buttons-area .login-btn{
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: 600;
    transition: .3s;
}
.buttons-area .login-btn:hover{
    background-color: #837774;
    border: 1px solid #837774;
    color: white;
    transition: .3s;
}
.buttons-area .file-btn{
    background-color: #CF2A1B;
    border: 1px solid #CF2A1B;
    color: white;
    font-weight: 600;
    transition: .3s;
}
.buttons-area .file-btn:hover{
    background-color: #C52213;
    color: white;
    transition: .3s;
}
/* buttons-area end */